
.loadingFont{
    background: #fafafa;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    opacity: 0.7;
    justify-content: flex-end;
}