.btnShowDefaultBgGray{
    color: #fff;
    background-color: #7cb2e0;
    border-color: #6c757d;
    padding: 5px 7px;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
}
.loadingTreeCategories{
    height: 38px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
}