.waitingSaveContent{
    background-image: url('../bg-transparent.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    .backdrop{
        background-color: rgba(0.34,.34,.34,.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color:#fff;
    border: 2px solid #000;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    padding: 15px;
    overflow: auto;
}