.categoryItem{
  
    position: relative;
    color: #222222;
    transition: color 0.2s ease, background-color 0.2s ease;
    border-radius: 5px;
    .menuLink{
        padding-left: 15px;
    }
    &:hover ,.active{
        .menuTitle{
            color: #009ef7 !important;
        }
        .action{
            opacity: 1;
        }
        cursor: pointer;
        background-color: rgba(245, 248, 250, 0.8);
    }
}
.menuTitle{
    color: #222222;
}
.action{
    position: absolute;
    opacity: 0 ;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding: 0.25rem 0.5rem;
    background: #fff;
    transition: opacity 0.2s ease;
    :hover{
        color: #009ef7;
    }
}