.itemArtwork {

    //    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
    actionItem {
        opacity: 0;
        background: #fff;
    }

    &:hover {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
        opacity: 1;
    }
}

.placeholderContent {
    display: flex;
}

.placeholderContentItem {
    width: 100%;
    height: 275px;
    z-index: 2;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8; // Fallback
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px; // Animation Area

    &:after,
    &:before {
        width: inherit;
        height: inherit;
        content: '';
        position: absolute;
    }

    &:nth-child(1) {
        flex-basis: 20%;
    }

    &:nth-child(2) {
        flex-basis: 20%;
    }

    &:nth-child(3) {
        flex-basis: 20%;
    }

    &:nth-child(4) {
        flex-basis: 20%;
    }
}

@keyframes placeholderAnimate {
    0% {
        background-position: -650px 0;
    }

    100% {
        background-position: 650px 0;
    }
}