.itemVertical {
    position: absolute;
    // width: 100%;
    // padding-bottom: 50%;
    width: 0;
    height: 100%;
    opacity: 0.5;
    border-right: 1px dotted #aaa;
}
.itemHorizontal {
    position: absolute;
    // width: 100%;
    // padding-bottom: 50%;
    height: 0;
    width: 100%;
    opacity: 0.5;
    border-bottom: 1px dotted #aaa;
}
