//
// Form Select
//

.form-select-tree {
    width: 100%;
    .ant-select-selector{
        box-shadow: none !important;
    }
    &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
        border-color: $input-solid-bg;
    }
    // Solid style
	&.ant-select.form-select-tree-solid .ant-select-selector {
		@include placeholder($input-solid-placeholder-color);
		background-color: $input-solid-bg;
		border-color: $input-solid-bg;
		color: $input-solid-color;
		transition: $transition-input;
	}
 
    &.form-control.is-invalid , &.form-control.is-valid{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        .ant-select-arrow{
            right:calc(11px + 1.5rem + 5px);
        }
        background-color: $input-solid-bg;
    }

}
.form-select-tree-dropdown{
    transition: $transition-input;
    border: 0;
    box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
    border-radius: 0.475rem;
    .ant-select-item{
        color: $input-solid-color;
      }
}