.previewArea {
    // position: absolute;
    width: 0;
    height: 100vh;
    // transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    &.active {
        width: 100%;

        .contentPreview {
            padding: 0px 10px;
        }
    }
}
.btnPreview {
    position: absolute;
    right: -45px;
    background-color: #ffffff;
    top: 50%;
    transform: rotate(-90deg);
    padding: 8px 15px;
    rotate: 90deg;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    white-space: nowrap;
    // transition: ease-in-out 0.3s all;
    &.active {
        right: calc(25% - 45px);
    }
    &:hover{
        cursor: pointer;
    }
}

.contentPreview {
    // width: 0;
    background-color: #fff;
    // overflow: hidden;
    height: 100vh;
    overflow: auto;
    // transition: all ease-in-out 0.3s;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // width: 0;
    // padding: 0;
}
