.listPrintArea{
    width: 100%;
    background-color: #464646;
}
.printAreaHeader{
    padding: 15px ;
    color: #fff;
    font-size: 1.5rem;
}
.listItem{
    background-color: #535353;
    height: auto;
    max-height: 50vh;
    overflow: auto;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.select{
    color: #fff;
    margin-right: 1rem;
}
.option{
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #464646;
    }
}
.popoverContent{
    margin: 0 -15px;
    padding: 0 15px;
    text-align: center;
    &:hover{
        background-color: #f2f2f2;
    
    }
    transition: ease-in-out all 0.3s;
}