
.loadingFont{
    background: #fafafa;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    padding-left: 40px;
    opacity: 0.7;
}