.editSidebarArea {
    height: 100vh;
    background: #535353;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148))
        );
    }
}
.back {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}
