

.itemOptions{
    padding: 5px;
    transition: ease-in-out all 0.3s;
    &:hover{
        background-color: #fff;
        border-radius:5px;
        
    }
}
.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.pointerNone{
    pointer-events: none;
}