.container{
    display:flex; 
    align-items:center;
    justify-content: center;
    padding:14px  0 ;
    margin-top: auto;
    li{
        list-style: none;
    }
}
.pageLink{
    width: 32px;
    height: 32px;
    color: #7e8299;
    background-color: #f5f8fa;
    margin: 0 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    &:hover{
        background-color: #009ef7 !important;
        color: #ffffff;
    }
}
.activeLink{
    background-color: #009ef7 !important;
    color: #ffffff;
}
.disabled{
    cursor: not-allowed;
    
}
.break{
    width: 32px;
    height: 32px;
    color: #7e8299;
    margin: 0 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #f5f8fa !important;
    }
}
// " hover:bg-primary hover:text-white cursor-pointer"
.previous, .next{
    display: flex;
    align-items: center;
    color: #7e8299;
    font-size: 16px;
    padding: 1rem;
    &:hover{
        color: #009ef7 !important;
        svg{
            color:#009ef7 !important
        }
    }
}
.previous{
    margin-right: 1rem;
}
.next{
   margin-left: 1rem;
}