.waitingSaveContent{
    background-image: url('../bg-transparent.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .backdrop{
        background-color: rgba(0.34,.34,.34,.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}