.menu-text {
    // display: flex;
    // padding: 8px 15px ;
}
.activeIcon {
    background-color: rgba(0, 0, 0, 0.04) !important;
}
.inputColor {
    padding: 0 !important;
    min-height: 40px;
    &:hover {
        cursor: pointer;
    }
}

.virtualSelect {
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 120px;
    border-radius: 5px;
    margin-right: 0.5rem;
    &:hover,
    &:focus {
        border-color: rgba(0, 0, 0, 0.87);
    }
}
