.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: .6);
}

.hide {
    display: none;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #222222;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spinloader 2s linear infinite;

    img {
        height: 60px;
        width: 60px;
        animation: spinlogo 2s linear infinite;
    }
}


@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinlogo {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}