.itemArtwork{
//    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
    actionItem{
        opacity: 0;
        background: #fff;
    }
   &:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
    opacity: 1;
   }
}