.bottomBar {
    border-radius: 5px;
    background-color: transparent;
    display: block;
    position: absolute;
    padding-left: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
