.object {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333333;
    // padding: 8px 0;
    & > div:not(:last-child) {
        padding: 8px 0;
        height: 100%;
    }
    &.selected {
        background-color: #636363;
    }
    &:hover {
        .action {
            opacity: 1;
        }
        cursor: pointer;
    }
    .iconObj {
        min-width: 15%;
        color: #fff;
        // background-color: #535353;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .label {
        color: #fff;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 55%;
        padding: 8px 5px;
        .name {
            display: flex;
            align-items: center;
            padding-left: 5px;
            
        }
    }
    .action {
        min-width: 25%;
        display: flex;
        justify-content: space-around;
        opacity: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
        &:hover {
            cursor: pointer;
        }
    }
}
