.editorLayer {
    // font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 0;
    justify-content: center;
    width: 100%;
    background: #343a40;
}
.wrapEdit {
    & > div {
        cursor: pointer;
    }
}
