.thumbnail {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    // background-color: #f5f8fa;
    &:hover {
        .labelThumbnail {
            opacity: 1;
        }
    }
}

.labelThumbnail {
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-50% , -50%);
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}