.stageArea {
    margin: 0;
    padding: 60px 15px 60px;
    overflow: auto;
    height: calc(100vh);
}
.containerStage {
    width: 100%;
    overflow: auto;
    position: relative;
    height: 100%;
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148))
        );
    }
}
.stage,
.gridView {
    display: inline-block;
    position: absolute;
}
.stage {
    background: url("./bg-transparent.png") repeat 0 0;
    // box-shadow: 0 2px 8px rgba(14px, 19px, 24px, 0.7);
}
.menuAlign {
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    height: 60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridView {
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}
