.titleCollapse{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 0 .75rem;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3);
    margin-bottom: 2px;
    color: #fff;
    position: relative;
    // height: 2.5rem;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px;
    align-items: center;
    cursor: pointer;
    .icon{
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%) ;
        transition: ease-in-out all 0.3s;
        &.open{
            transform: rotate(-90deg);
        }
    }
    .text{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        .iconText{
            font-size: 1rem;
            margin-right: .5rem;
            display: inline-flex;
        }
    }
}
.contentCollapse{
    .open{
        margin-top: 1rem;
    }
}
.children{
    padding: 15px 0;
}