.menu-image{
    // display: flex;
    padding: 8px 15px;
}
.activeIcon{
    background-color:rgba(0, 0, 0, 0.04) !important;  
}
.inputColor{
    padding: 0 !important;
    min-height: 40px;
    &:hover{
        cursor: pointer;
    }
}