.placeholderContent {
    height: 35px;
    overflow: hidden;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    // Animation

}

.placeholderContentItem {
    width: 100%;
    height: 35px;
    z-index: 2;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8; // Fallback
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px; // Animation Area

    &:after,
    &:before {
        width: inherit;
        height: inherit;
        content: '';
        position: absolute;
    }

    &:nth-child(1) {
        flex-basis: 20%;
    }

    &:nth-child(2) {
        flex-basis: 20%;
    }

    &:nth-child(3) {
        flex-basis: 20%;
    }

    &:nth-child(4) {
        flex-basis: 20%;
    }
}

@keyframes placeholderAnimate {
    0% {
        background-position: -650px 0;
    }

    100% {
        background-position: 650px 0;
    }
}