.waitingSaveContent{
    // background-image: url('../bg-transparent.png');
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    min-width: 500px;
    
    p{
        color: #000;
    }
}
.backdrop{
    background-color: rgba(0.34,.34,.34,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}   