.itemClipart{
    padding: 5px;
    
    &:hover{
        background: #fff;
        border-radius: 5px;
    }
    transition: ease-in-out all 0.5s;

}
.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.pointerNone{
    pointer-events: none;
}