.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    // padding-top: 10vh;
    // transform: translate(-50% , -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: .6);
}

.hide {
    display: none;
}

.content {
    min-height: 200px;
    background: var(--bs-body-color);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    overflow: auto;
    max-height: 80vh;
    padding: 15px 30px;
}

.messageText {
    // min-height: 150px;
    margin-bottom: 1rem;
    // width: 280px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messageDescription{
    // min-height: 150px;
    color: #fff;
}

.buttonContainer {
    // min-width: 280px;
    width: auto;
    display: flex;
    margin-top: auto;
    justify-content: center;
}