.topBar {
    // position: top;
    border-radius: 5px;
    height: auto;
    background-color: #595959;
    padding: 0 !important;
    margin: 0;

    // padding: 8px 15px;
    // display: flex;
    align-items: center;
    // color:#ffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
