.tab {
    // width: 80px;
    // height: 80px;
    border: 1px solid #f3f3f3;
    position: relative;
    background-color: #fff;
    font-size: 14px;
    &.active {
        border-color: #1350de;
        // outline: #1350de;
        color: #1350de;
    }
    & input {
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 15px;
        height: 15px;
        border-radius: 0;
    }
}

.checkbox {
    opacity: 0;
    &:checked {
        opacity: 1;
    }
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    content: " ";
    &:hover{
        cursor: pointer;
    }
}
