
/* @import "~antd/lib/tree-select/style/index.css"; */
/* @import "~antd/lib/input/style/index.css"; */
/* 
@font-face {
    font-family: roboto-blackitalic;
    src: url("https://customproduct-dev.vellamerch.com/upload/fonts/04f97946560870c71ad8e32f2c7838a5.ttf")
        format("truetype");
}
@font-face {
    font-family: corinthia-bold;
    src: url("https://customproduct-dev.vellamerch.com/upload/fonts/be322cacd010e7647a0cd0d6b161e0c3.ttf")
        format("truetype");
}
@font-face {
    font-family: font;
    src: url("https://customproduct-dev.vellamerch.com/upload/fonts/9c4c97914548f923644a1132b598684b.ttf")
        format("truetype");
} */
