
.classNameWrapper{
    box-shadow: 0 0.1rem 0.5rem 0.125rem rgb(0 0 0 / 5%);
    border-radius: 5px;
}
.thumbnail {
    position: relative;
    // width: 75px;
    // height: 75px;
    border-radius: 5px;
    // background-color: #f5f8fa;
    border: 1px solid #f2f2f2;
    &:hover {
        .labelThumbnail {
            opacity: 1;
        }
    }
}

.labelThumbnail {
    z-index: 2;
    border-radius: 5px;
    transition: ease-in-out opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-50% , -50%);
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
.imgThumbnail{
    // padding: 0.25rem;
    border-radius: 5px;
    // background-color: #ffffff;
    border: none;
    border-radius: 5px;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}