//
// Pagination
//

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  align-items:center;
  justify-content: center;
  padding:14px  0 ;
  li{
      list-style: none;
  }
  // Pagination circle
  // &.pagination-circle {
  //   .page-link {
  //     border-radius: 50%;
  //   }
  // }

  // Pagination outline
  
}

.page-item {
  // margin-right: $pagination-item-space;

  // &:last-child {
  //   margin-right: 0;
  // }

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $pagination-item-height;
    min-width: $pagination-item-height;
    font-weight: $pagination-font-weight;
    font-size: $pagination-font-size;
    &.active {
      
    }
  }

  .next,
  .previous {
    background-color: $pagination-item-bg;
    color: $pagination-color;
    display: flex;
    align-items: center;
   
    }
  .previous { 
    margin-right: $pagination-item-space;
  }

  /*rtl:options:{"autoRename":false}*/
  .next {
    margin-left: $pagination-item-space;
  }
  

  &:focus {
    &.page-link {
      color: $pagination-focus-color;

      a {
        color: $pagination-focus-color;
      }
    }
   
  }
  &:hover {
    .page-link {
      border-color: $primary-light;
    }
  }


  &.disabled {
    .page-link {
      color: $pagination-disabled-color;

      i {
        color: $pagination-disabled-color;
      }

    }
   
  }
  /*rtl:end:ignore*/
}


// Tablet & mobile modes
// @include media-breakpoint-down(lg) {
//   .page-item {
//     margin-right: $pagination-item-space-tablet-and-mobile;

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
