.tree-custom{
    .ant-tree-treenode{
      padding-bottom:0px ;
     .ant-tree-draggable-icon, .ant-tree-switcher, .ant-tree-node-content-wrapper{
            padding-top:0.5rem;
            padding-bottom:0.5rem;
            // &.ant-tree-node-selected{
            //   background-color: rgba(245, 248, 250, 1);
            // }
        }
        .ant-tree-checkbox{
            top: auto; 
            margin: calc(0.5rem + 4px) 8px 0 0;
            // margin-top:0.5rem;
            // padding-bottom:0.5rem;
        }
        .ant-tree-node-content-wrapper{
          line-height:2;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-selected{
          border-radius:0.475rem;
        }
        .ant-tree-node-content-wrapper:hover{
          background-color: rgba(245, 248, 250, 1);
          transition:color 0.2s ease, background-color 0.2s ease;
          border-radius:0.475rem;
          .ant-tree-title{
            color: #009ef7;
          }
        }
        
    }
    .action-tree{
      position: absolute;
      z-index: 100;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      
    }
}