.previewArea {
    width: 0;
    height: 100vh;
    display:none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    &.active {
        display:block;
        width: 100%;
        .contentPreview {
            padding: 0px 10px;
        }
    }
}
.btnPreview {
    position: absolute;
    right: 0;
    background-color: #ffffff;
    top: 50%;
    padding: 15px 8px;
    rotate: 90deg;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    // transition: ease-in-out 0.3s all;
    &.active {
        right: calc(25%);
    }
    &:hover{
        cursor: pointer;
    }
}

.contentPreview {
    background-color: #fff;
    height: 100vh;
    overflow: auto;
}
